<!DOCTYPE html>
<html lang="en">
<head>
<title>Course - Courses</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Course Project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/assets/styles/bootstrap4/bootstrap.min.css">
<link href="/assets/plugins/fontawesome-free-5.0.1/css/fontawesome-all.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="/assets/styles/courses_styles.css">
<link rel="stylesheet" type="text/css" href="/assets/styles/courses_responsive.css">
</head>
<body>

	<div class="home">
		<div class="home_background_container prlx_parent">
			<div class="home_background prlx" style="background-image:url(/assets/images/courses_background.jpg)"></div>
		</div>
		<div class="home_content">
			<h1>Courses</h1>
		</div>
	</div>
    <br>
    <br>
	<div class="register">

        <div class="container-fluid">
            
            <div class="row row-eq-height">
                
    
                <div class="col-lg-12 nopadding">
                    
                    <!-- Search -->
    
                    <div class="search_section d-flex flex-column align-items-center justify-content-center">
                        <div class="search_background" style="background-image:url(images/search_background.jpg);"></div>
                        <div class="search_content text-center">
							<h1 class="search_title">Search for your course</h1>
							<div id = "search_form">
								<div class = "search_form">
									<form #userForm="ngForm" (ngSubmit)="onSave(userForm.value)" novalidate>
										Enter Id: <input type="number" name="Id" [(ngModel)]="id" placeholder = ""
											class="form-control"><br />
										Enter Name: <input type="text" name="name" [(ngModel)]="name"
											class="form-control"><br />
										Enter Salary: <input type="text" name="topic" [(ngModel)]="topic"
											class="form-control"><br />
										Enter Gender: <input type="text" name="location" [(ngModel)]="location"
											class="form-control"><br />
										Enter time: <input type="time" name="time" [(ngModel)]="time"
											class="form-control"><br />
										From Date:<input  name="from_date" type="text" placeholder="MM/DD/YYYY"
											onfocus="(this.type='date')" [(ngModel)] = "from_date"class="form-control" /> 
										Ending Date: <input  name="to_date" type="text" placeholder="MM/DD/YYYY"
											onfocus="(this.type='date')" [(ngModel)] = "to_date" class="form-control"/> 
										Enter Description: <input type="text" name="description" [(ngModel)]="description"
											class="form-control"><br />
										Enter seats: <input type="number" name="seats" [(ngModel)]="seats" class="form-control">
									
									<input type="submit" value="{{valbutton}}" >
							   
					</form>
				   
					   
						</div>
							</div>
					</div>
					</div>
					</div>
					</div>
					</div>
					</div>	
    
    
    <!-- Services -->
    

	<div class="popular page_section">
		<div class="container">
			<div class="row">
				<div class="col">
				</div>
			</div>
</div>
				
	<!-- Footer -->
	<footer class="footer">
		<div class="container">
			
			<!-- Newsletter -->
	
			<div class="newsletter">
				<div class="row">
					<div class="col">
						<div class="section_title text-center">
							<h1>Subscribe to newsletter</h1>
						</div>
					</div>
				</div>
	
				<div class="row">
					<div class="col text-center">
						<div class="newsletter_form_container mx-auto">
							<form action="post">
								<div class="newsletter_form d-flex flex-md-row flex-column flex-xs-column align-items-center justify-content-center">
									<input id="newsletter_email" class="newsletter_email" type="email" placeholder="Email Address" required="required" data-error="Valid email is required.">
									<button id="newsletter_submit" type="submit" class="newsletter_submit_btn trans_300" value="Submit">Subscribe</button>
								</div>
							</form>
						</div>
					</div>
				</div>
	
			</div>
	
			<!-- Footer Content -->
	
			<div class="footer_content">
				<div class="row">
	
					<!-- Footer Column - About -->
					<div class="col-lg-3 footer_col">
	
						<!-- Logo -->
						<div class="logo_container">
							<div class="logo">
								<span>course</span>
							</div>
						</div>
	
						<p class="footer_about_text">In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor fermentum, tempor lacus.</p>
	
					</div>
	
					<!-- Footer Column - Menu -->
	
					<div class="col-lg-3 footer_col">
						<div class="footer_column_title">Menu</div>
						<div class="footer_column_content">
							<ul>
								<li class="main_nav_item" routerLink = "home"><b>Home</b></li>
								<li class="main_nav_item" routerLink = "news"><strong>News</strong></li>
								<li class="main_nav_item"routerLink = "aboutus"><b>About Us</b></li>
								<li class="main_nav_item"routerLink = "contact"><b>Contact</b></li>
								<li class="main_nav_item" routerLink="signup"><b>SignUp/Login</b></li>
							</ul>
						</div>
					</div>
	
					<!-- Footer Column - Usefull Links -->
	
					<div class="col-lg-3 footer_col">
						<div class="footer_column_title">Usefull Links</div>
						<div class="footer_column_content">
							<ul>
								<li class="footer_list_item"><a href="#">Testimonials</a></li>
								<li class="footer_list_item"><a href="#">FAQ</a></li>
								<li class="footer_list_item"><a href="#">Community</a></li>
								<li class="footer_list_item"><a href="#">Campus Pictures</a></li>
								<li class="footer_list_item"><a href="#">Tuitions</a></li>
							</ul>
						</div>
					</div>
	
					<!-- Footer Column - Contact -->
	
					<div class="col-lg-3 footer_col">
						<div class="footer_column_title">Contact</div>
						<div class="footer_column_content">
							<ul>
								<li class="footer_contact_item">
									<div class="footer_contact_icon">
										<img src="/assets/images/placeholder.svg" alt="https://www.flaticon.com/authors/lucy-g">
									</div>
									Blvd Libertad, 34 m05200 Arévalo
								</li>
								<li class="footer_contact_item">
									<div class="footer_contact_icon">
										<img src="/assets/images/smartphone.svg" alt="https://www.flaticon.com/authors/lucy-g">
									</div>
									0034 37483 2445 322
								</li>
								<li class="footer_contact_item">
									<div class="footer_contact_icon">
										<img src="/assets/images/envelope.svg" alt="https://www.flaticon.com/authors/lucy-g">
									</div>hello@company.com
								</li>
							</ul>
						</div>
					</div>
	
				</div>
			</div>
	
			<!-- Footer Copyright -->
	
			<div class="footer_bar d-flex flex-column flex-sm-row align-items-center">
				<div class="footer_copyright">
					<span><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
	Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
	<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></span>
				</div>
				<div class="footer_social ml-sm-auto">
					<ul class="menu_social">
						<li class="menu_social_item"><a href="#"><i class="fab fa-pinterest"></i></a></li>
						<li class="menu_social_item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
						<li class="menu_social_item"><a href="#"><i class="fab fa-instagram"></i></a></li>
						<li class="menu_social_item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
						<li class="menu_social_item"><a href="#"><i class="fab fa-twitter"></i></a></li>
					</ul>
				</div>
			</div>
	
		</div>
	</footer>
</div>

<script src="/assets/js/jquery-3.2.1.min.js"></script>
<script src="/assets/styles/bootstrap4/popper.js"></script>
<script src="/assets/styles/bootstrap4/bootstrap.min.js"></script>
<script src="/assets/plugins/greensock/TweenMax.min.js"></script>
<script src="/assets/plugins/greensock/TimelineMax.min.js"></script>
<script src="/assets/plugins/scrollmagic/ScrollMagic.min.js"></script>
<script src="/assets/plugins/greensock/animation.gsap.min.js"></script>
<script src="/assets/plugins/greensock/ScrollToPlugin.min.js"></script>
<script src="/assets/plugins/scrollTo/jquery.scrollTo.min.js"></script>
<script src="/assets/plugins/easing/easing.js"></script>
<script src="/assets/js/courses_custom.js"></script>
</body>
</html>